<template>
  <div>
    <br />
    <div class="container">
      <div class="text-center">
        <h1>Bastien Crettenand</h1>
        <br />
        <h5>
          Back-end developer &nbsp;&bull;&nbsp; Passionate &nbsp;&bull;&nbsp;
          Open source &#x2661;
        </h5>
        <br />
        <a href="https://twitter.com/LeCreb" class="icon brands fa-twitter"
          ><span class="label">Twitter</span></a
        >
        -
        <a href="https://www.neptium.ch/" class="icon brands fa-firefox"
          ><span class="label">Neptium</span></a
        >
        -
        <a href="./docs" class="icon brands fa-fly"
          ><span class="label">Email</span></a
        >
        -
        <a href="https://gitlab.com/CrBast" class="icon brands fa-gitlab"
          ><span class="label">Gitlab</span></a
        >
        -
        <a href="https://github.com/CrBast" class="icon brands fa-github"
          ><span class="label">Github</span></a
        >

        <br />
        <br />

        <p>👋 Hi!</p>
        <p>
          I'm a Swiss junior (back-end) developer. I have skills in back-end
          services, APIs (REST) <br />
          and continuous integration (CICD Gitlab). I need to learn new things
          all the time.
        </p>
        <p>
          I have a good knowledge of these different languages: <br />
          <span class="underlineText">JS (AdonisJS, NuxtJS - Vue, TS)</span>, C#
          (ASP .NET & Xamarin) & PHP
        </p>
        <p>
          I invite you to take a look at my Gitlab and Github account.<br />
          My
          <a href="https://github.com/users/CrBast/projects/2/">todo list</a>.
        </p>
        <p>
          For fun I created a little API REST about me. <br />
          Click on menu button.<br />
        </p>
        <p id="color-flag">
          <span>Have </span><span>a nice</span><span> day!</span>
        </p>
      </div>
    </div>
    <br />
    <div class="container align-bottom">
      <div class="text-center">
        <h6>Latest news : <br />{{ news }}</h6>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $axios }) {
    const data = await $axios.$get('api/news')
    return { news: data.details }
  }
}
</script>
<style>
body {
  background-color: #5f3c99;
  color: white;
}
/*
	#color-flag elements
*/
#color-flag span:nth-child(1) {
  color: #d60270;
}

#color-flag span:nth-child(2) {
  color: #9b4f96;
}

#color-flag span:nth-child(3) {
  color: #0038a8;
}
</style>
