<template>
  <div>
    <div
      id="header"
      class="d-flex flex-row-reverse align-items-center fixed-top"
    >
      <div class="p-1">
        <a href="#" class="link font-weight-bold">Git profiles</a>
      </div>
      <div class="p-1">
        <a :href="API_APP_DOC" class="link font-weight-bold">API (REST)</a>
      </div>
      <div class="p-1">
        <a href="#" class="link font-weight-bold">Projects</a>
      </div>
    </div>
    <nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      API_APP_DOC: process.env.API_APP_DOC
    }
  }
}
</script>

<style>
@import url('https://rsms.me/inter/inter-ui.css');
#header {
  height: 40pt;
  width: 100%;
  background-color: #5f3c99;
}
body {
  margin-top: 40pt;
  font-family: -apple-system, 'Inter UI var', BlinkMacSystemFont, Roboto,
    'Segoe UI', 'Helvetica Neue', Oxygen, Ubuntu, Cantarell, 'Open Sans',
    sans-serif;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: white;
}
.p-1 {
  margin-right: 12pt;
}
</style>
